<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/style.css">

        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>

        <title>Document</title>
    </head>
    <body>
        

        <ul>
        
            <% for(var j=0; j < 25; j++) { %>
                <td%>" </td>
                    <% } %> 

        </ul>
        <script>

        var socket = io('http://localhost:3000');

        </script> 

    </body> 
</html>